// Breakpoints
$tablet: 600px;
$desktop: 1024px;

// Colors
$main-color-dark: #333333;
$main-color-dark-ligth: #4A4A4A;
$main-color-ligth: #F5F5F5;
$primary-color: #E7642E;
$secondary-color: #FFC175;

// Typography
$title-font: 'Anta', sans-serif;
$subtitle-font: 'Roboto';
$body-font: 'Verdana', Geneva, Tahoma, sans-serif;
