// Breakpoints
$tablet: 600px;
$desktop: 1024px;

// Colors
$primary-color: #E7642E;

// Typography
$title-font: 'Anta', sans-serif;
$subtitle-font: 'Roboto';
$body-font: 'Verdana', Geneva, Tahoma, sans-serif;
