/* footer */
footer {
    background-color: $main-color-dark;
    margin-top: 10px;
    padding: 5px;

    p {
        color: $main-color-ligth;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
    }
}
