/* header */
header {
    background-color: $primary-color;
    padding: 5px;
  
    div nav div {
      @include flex-center;
  
      ul {
        display: flex;
        gap: 20px;
  
        li {
          .menu-item {
            color: whitesmoke;
            font-size: 22px;
            &-active {
              font-weight: bold;
            }
          }
        }
      }
    }
  }