/* CONTACT */

/* Contact Section */
.contact-welcome {
  
    h2 {
        font-family: $subtitle-font;
        font-weight: bolder;
        font-size: 1.5rem;
    }
  
    p {
        font-family: $subtitle-font;
        font-size: 1rem;
    }
}
  
.contact-form {

    .form-label {
        font-family: $body-font;
        font-size: 12px;
        font-weight: bold;
    }

    .form-input {
        font-family: $body-font;
        font-size: 12px;
        width: 100%;
        padding: 0.5rem;
        margin-bottom: 1rem;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

    .btn-send {
        display: inline-block;
        padding: 0.5rem 1rem;
        font-family: $body-font;
        font-size: 12px;
        font-weight: bold;
        text-transform: uppercase;
        background-color: $primary-color;
        color: whitesmoke;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover {
        background-color: darken($primary-color, 15%);
        }
    }
}
