/* GALLERY */

.img-3, .img-4, .img-5, .vid-2 {
    display: none;
}
  
.media-container {
    height: 70vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 30%);
    gap: 2rem;
    margin: 3rem 2rem;

    div {
        img, iframe {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    /* mq tablet */
    @media screen and (min-width: $tablet) {
        height: 75vh;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 50%);
        .vid-1{
            grid-column: span 2;
        }
    }

    /* mq computer */
    @media screen and (min-width: $desktop) {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 30%);
        .img-3, .img-4, .img-5, .vid-2 {
            display: block;
        }
        .img-3, .img-4 {
            grid-row: span 2;
        }
        .vid-2 {
            grid-column: span 2;
        }
    }
}
