/* HOME */

/* Home Section */
.home h1 {
    font-family: $title-font;
    font-weight: bolder;
    font-style: normal;
    font-size: xx-large;
    text-transform: uppercase;
    text-align: center;
    margin: 10px;
}

/* About Section */
.about {
    font-family: $body-font;
    font-size: 1rem;
    margin: 10px;
}