/* HOME */

/* Home Section */
.home h1 {
    font-family: 'Anta', sans-serif;
    font-weight: bolder;
    font-style: normal;
    font-size: xx-large;
    text-transform: uppercase;
    text-align: center;
}

/* About Section */
.about {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
}