/* STATS */

/* Team Info Section */
.team-info h1 {
    font-family: 'Anta', sans-serif;
    font-weight: bolder;
    font-style: normal;
    font-size: x-large;
    text-transform: uppercase;
    text-align: center;
}

.stats-h2 {
    font-family: 'Anta', sans-serif;
    font-weight: bolder;
    font-style: normal;
    font-size: x-large;
    text-transform: uppercase;
    text-align: left;
}

.stats-table {
    width: 100%;
    border: 1px solid black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
}

.stats-table th {
    background-color: lightgreen;
}

.stats-table th, td {
    border: 1px solid black;
    text-align: center;
}

.stats-table .col-1 {
    width: 10%;
}