/* TOURNAMENT */

/* Tournament Section */
.tournament-h2 {
    font-family: $title-font;
    font-weight: bolder;
    font-style: normal;
    font-size: x-large;
    text-transform: uppercase;
    text-align: center;
    margin: 10px;
}

.tournament-table {
    border: 1px solid black;
    font-family: $body-font;
    font-size: 14px;
    margin-left: auto;
    margin-right: auto;
    width: 75%;

    /* mq computer */
    @media screen and (min-width: $desktop) {
        width: 50%;
    }
}

.tournament-table th {
    background-color: $secondary-color;
}

.tournament-table th, td {
    border: 1px solid black;
    text-align: center;
}

.tournament-table .col-num {
    width: 8%;
}

.tournament-table .col-date {
    width: 24%;
}

.tournament-table .col-txt-positions {
    text-align: left;
}

.tournament-table .col-txt-fixture {
    width: 30%;
}

.tournament-nav {
    ul li {
        a {
            text-decoration: none;
            color: black;
            font-size: 14px;
            font-family: $body-font;
        }
        a:hover{
            background-color: $primary-color;
            border-color: $primary-color;
            color:white;
        }
    }

    .page-item.active .page-link {
        background-color: $secondary-color;
        border-color: $primary-color;
        color:black;
        font-weight: bold;
    }
}